<div class="container">
    <div class="card">
        <div class="card-header ">
            <h3>Criando a pergunta!</h3>
        </div>
        <div class="card-body">
            <label>Título.</label>
            <input type="text" placeholder="Crie sua pergunta aqui!" class="form-control">
            <br>
            <label>Descrição.</label>
            <textarea placeholder="Descreva sua pergunta aqui." class="form-control"></textarea>
            <br>
            <button class="btn btn-success">Enviar</button>
        </div>
        <img src="/public/img/logoGGWS-web01.png" alt="logogit">
    </div>
</div>